<!DOCTYPE html>

<html lang="en">

<head>

 <title>Activity log</title>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/public/styles/activitylog.css">
 <script src = "/cdn/scripts/groupLandPage/activitylog.js" ></script>
 
 

</head>

<body>


  <div class="filter">

 </div>

 <table id="myTable" >

 

 <tr>

 <th>Name</th>

 <th>Activity</th>

 <th>Date</th>

 </tr>




 </table>

 <button onclick="return goBack()">Back</button>
 <script>
  function goBack() {
    window.history.back();
  }
  </script>

 </body>
 

</html>