<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/screening_ui.css">

  <title>Covid-19</title>


</head>

<body>

  <div id="main">
    <h1> WITS Campus Screening (2021)</h1>
    <h3> Page 1</h3>
    <div>
      <p> Date completed : </p>
      <label for="var_string"><input id="DATE" type="date" /> </label>

    </div>




    <div>

      <p>Please answer the following questions honestly and in the best
        in the best the best interest of staff and students.
      </p>

      <p>Please complete this daily self-screening questionnaire before leaving home/ residence
        and before coming <br> onto Campus NB: Persons are not permitted onto Campus if screening
        not been done. </br>
      </p>

      <form id="form1">

        <h4>Are you suffering from fever/high temperature or temperature fluctuations?</h4>
        <div><label for="var_string"><input type="radio" name="one" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="one" value="25" id="var_join" />No</label></div>

        <h4>Do you have a dry cough?</h4>
        <div><label for="var_string"><input type="radio" name="two" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="two" value="25" id="var_join" />No</label></div>


        <h4>Do you have a sore throat?</h4>
        <div><label for="var_string"><input type="radio" name="three" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="three" value="25" id="var_join" />No</label></div>


        <h4>Do you have redness of eyes? </h4>
        <div><label for="var_string"><input type="radio" name="four" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="four" value="25" id="var_join" />No</label></div>

        <h4>Do you experience shortness of breath of breath/ difficulty in breathing?</h4>
        <div><label for="var_string"><input type="radio" name="five" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="five" value="25" id="var_join" />No</label></div>

        <h4>Have you got unusual body aches / muscle pain?</h4>
        <div><label for="var_string"><input type="radio" name="six" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="six" value="25" id="var_join" />No</label></div>


        <h4>Do you experience a loss of smell/taste ?</h4>
        <div><label for="var_string"><input type="radio" name="seven" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="seven" value="25" id="var_join" />No</label></div>


        <h4>Are you nauseous and/ or do you experience unusual vomiting ?</h4>
        <div><label for="var_string"><input type="radio" name="eight" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="eight" value="25" id="var_join" />No</label></div>

        <h4>Have you got diarrhoea?</h4>
        <div><label for="var_string"><input type="radio" name="nine" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="nine" value="25" id="var_join" />No</label></div>



        <h4>Do you suffer from fatigue/physical weakness/tiredness ?</h4>
        <div><label for="var_string"><input type="radio" name="ten" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="ten" value="25" id="var_join" />No</label></div>


        <h4> In the past 10 days have you tested positive for COVID-19? </h4>
        <div><label for="var_string"><input type="radio" name="eleven" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="eleven" value="25" id="var_join" />No</label></div>

        <h4> In the past 10 days were you exposed* to someone who is positively diagnosed with COVID-19,
          <br>or to someone who is in quarantine/self -isolation for COVID-19?</br>
        </h4>
        <div><label for="var_string"><input type="radio" name="twelve" value="0" id="var_string" />Yes</label></div>
        <div><label for="var_join"><input type="radio" name="twelve" value="25" id="var_join" />No</label></div>







        <p> <b>Definition of Exposed:</b></p>

        <p> *Exposed in family or community setting is spending >15 minutes in infected<br>
          person's company AND being < 1.5m apart AND not wearing a face mask </br>

            <br>*Exposed in clinical setting is not wearing proper PPE,or PPE failure AND</br>
            spending > 1.5 minutes in infected person's company AND being < 1.5 . </p>

              <p><b>Age as risk risk factor</b> </p>

              <p> If you are 60 years of age or older, you will be allowed onto Campus - <br>
                but at your own risk. Please contact your supervisor to discuss if you are connected </br>
              </p>



              <p><b>Co-morbidities as risk factors</b> </p>

              <p> If you suffer from any pre-existing medical conditions /chronic illness that <br>
                have compromised your immune system ,i.e respiratory disease ,diabetes, heart disease </br>
                or any other chronic illness that could compromise one's immune system ,please discuss this
                <br>with yoir supervisor or campus health if you are concerned about coming on campus </br>
              </p>



              <p>Please confirm that the above information is accurate and truthful</p>


              <p>Sign below</p>

              <div>

                <canvas id="canvas">


                </canvas>


              </div>

              <button type="submit" value="Submit">Submit</button>



      </form>


    </div>



  </div>
  <!--close main div-->



  <script>

    const msg = []
    document.getElementById('form1').onsubmit = function () {
      one = parseInt(document.querySelector('input[name = "one"]:checked').value)
      two = parseInt(document.querySelector('input[name = "two"]:checked').value)
      three = parseInt(document.querySelector('input[name = "three"]:checked').value)
      four = parseInt(document.querySelector('input[name = "four"]:checked').value)
      five = parseInt(document.querySelector('input[name = "five"]:checked').value)
      six = parseInt(document.querySelector('input[name = "six"]:checked').value)
      seven = parseInt(document.querySelector('input[name = "seven"]:checked').value)
      eight = parseInt(document.querySelector('input[name = "eight"]:checked').value)
      nine = parseInt(document.querySelector('input[name = "nine"]:checked').value)
      ten = parseInt(document.querySelector('input[name = "ten"]:checked').value)
      eleven = parseInt(document.querySelector('input[name = "eleven"]:checked').value)
      twelve = parseInt(document.querySelector('input[name = "twelve"]:checked').value)

      result = one + two + three + four + five + six + seven + eight + nine + ten + eleven + twelve

      if (result === 300) {
        window.location.assign('/meeting')
      } else {
        alert("You cannot Join the meeting");
      }
      // document.getElementById('grade').innerHTML = result

      return false // required to not refresh the page; just leave this here
    }
  </script>




  <script src="/js/canvas.js"></script>
</body>

</html>