@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.countdown{

    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,.hour,.minute,.second{

    font-size: 2rem;
}
.titled{
    text-align: center;
}